<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/coronacases">Corona Cases</a></li>
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/details">DistrictWiseDetails</a></li>
            <li class="main-header__item"><a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="#">Graph</a></li>
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/essential">Essentials</a></li>

        </ul>
        </ul>
    </nav>
</header>